pandas
numpy
matplotlib
plotly
jupyter
yfinance
sec-edgar-downloader
beautifulsoup4
lxml
datasets
kagglehub
praw
sqlalchemy
pyarrow
python-dotenv
scikit-learn
xgboost
torch
transformers
spacy
sentence-transformers
faiss-cpu
langchain
langchain-community
langchain-ollama
langchain-groq
streamlit
fastapi
uvicorn
